#kanged from https://github.com/LineageOS/android_device_motorola_victara/blob/lineage-18.1/sepolicy/hal_drm_clearkey.te

# policy for /vendor/bin/hw/android.hardware.drm@1.2-service.clearkey
type hal_drm_clearkey, domain;

init_daemon_domain(hal_drm_clearkey)
hal_server_domain(hal_drm_clearkey, hal_drm)
vndbinder_use(hal_drm_clearkey);
allow hal_drm_clearkey { appdomain -isolated_app }:fd use;

# policy for /vendor/bin/hw/android.hardware.drm@1.4-service.clearkey
allow hal_drm_clearkey mediadrm_vendor_data_file:dir create_dir_perms;
allow hal_drm_clearkey mediadrm_vendor_data_file:file create_file_perms;