#============= surfaceflinger ==============
allow surfaceflinger cpuset_device:dir search;
allow surfaceflinger default_android_service:service_manager { add find };
allow surfaceflinger sysfs_graphics:file r_file_perms;
allow surfaceflinger vendor_default_prop:file r_file_perms;
